@charset "UTF-8";
/**


Content on this page has been developed by Nick Mandylas for Hydra Servers (http://hydraservers.com.au).
Written permission from admin@hydraservers.com.au is required for third-party use of any materials
contained herein.

Author: Nick Mandylas
Date: Jan/2017
*/

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #798995;
}

* {
    font-family: "proxima-nova", sans-serif;
}

/* Fade In-Out */
.navbar-brand > img, .navbar-brand > h3, .navbar-brand > h3 > i, .game-server-item:hover .game-server-title,
.game-server-pop-item:hover .game-server-pop-title, .slim-button, #standard-plan-1, #standard-plan-2, #standard-plan-3,
#standard-plan-4, #standard-plan-5, #standard-plan-6, #standard-plan-7, #standard-plan-8, #standard-plan-9 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 300ms ease-in-out 0ms;
}

/* Navigation */
nav {
    margin-bottom: 0!important;
    border-bottom: 1px solid #cdd0d4;
    z-index: 10000;
}

nav > .container {
    min-height: 80px;
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding-bottom: 1rem;
        border-top: 1px solid #cdd0d4;
        padding-top: 0;
    }
}

.navbar-toggleable-md {
    padding: 0;
    margin-bottom: 0!important;
}

.navbar-right {
    margin-left: auto!important;
}

a.navlink {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #4b5153;
    font-weight: 300;
    font-size: 100%;
}

.navbar-nav {
    min-height: 40px;
}

a.navlink:hover {
    color: #0084bd;
}

.navbar {
    background-image: -moz-linear-gradient(bottom, rgba(221,224,228,.4) -25%, rgba(255,255,255,.4) 74.39%, rgba(255,255,255,.4) 125%);
    background-image: -o-linear-gradient(bottom, rgba(221,224,228,.4) -25%, rgba(255,255,255,.4) 74.39%, rgba(255,255,255,.4) 125%);
    background-image: -webkit-linear-gradient(bottom, rgba(221,224,228,.4) -25%, rgba(255,255,255,.4) 74.39%, rgba(255,255,255,.4) 125%);
    background-image: linear-gradient(bottom, rgba(221,224,228,.4) -25%, rgba(255,255,255,.4) 74.39%, rgba(255,255,255,.4) 125%);
    min-height: 80px;
}

a.navbar-brand {
    padding: 0;
}

.nav-item {
    padding: 7px 0;
}

.navbar-brand > h3 {
    float: right;
    position: absolute;
    top: 10px;
    margin-left: 90px;
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
}

.navbar-brand > h3 > i {
    padding-left: 16px;
    display: block;
    line-height: 0.7;
}

.navbar-brand > img {
    height: 80px;
    opacity: 0.5;
    padding: 0;
    display: block;
}

nav > .container:hover > .navbar-brand > img, nav > .container:hover > .navbar-brand > h3{
    opacity: 1;
    color: #23527c;
}

.navbar-toggler-icon > i {
    font-size: 30px;
    margin-top: 18px;
    cursor: pointer!important;
}

.navbar-toggler-icon > i:hover {
    color: #01549b;
}

/* Page Title */
.page-title {
    height: 300px;

    /* Curved Page Title

    border-bottom-left-radius: 60% 30%;
    border-bottom-right-radius: 60% 30%;

     */
}

/* Curved to Straight in Mobile

@media (max-width: 768px) {
    .page-title {
        height: 300px;
        border-bottom-left-radius: 0 0;
        border-bottom-right-radius: 0 0;
    }
}

 */

#dark-blue-aqua {
    background: url(../img/vector-backgrounds/dark-blue-aqua-retro.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px;
}

#red-yellow {
    background: url(../img/vector-backgrounds/red-yellow-retro.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px;
}

#green-blue {
    background: url(../img/vector-backgrounds/light-green-blue-retro.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px;
}

#blue-gray {
    background: url(../img/vector-backgrounds/blue-gray-retro.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px;
}

#purple-aqua {
    background: url(../img/vector-backgrounds/purple-aqua-retro.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px;
}

#yellow-blue {
    background: url(../img/vector-backgrounds/yellow-blue-retro.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px
}

#purple-white {
    background: url(../img/vector-backgrounds/purple-white-modern.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px
}

#blue-white {
    background: url(../img/vector-backgrounds/blue-white-modern.png) repeat-x;
    background-size: auto;
    -webkit-background-size: 300px
}

#gaming-servers {
    /* Source - http://wallpapercraze.com/images/wallpapers/garrys_mod_w1.jpeg */
    background: url(../img/background/gaming-servers.jpg) center top;
}

#minecraft {
    /* Source - https://i.ytimg.com/vi/uCALVusJkPs/maxresdefault.jpg */
    background: url(../img/background/minecraft.jpg) center;
}

#minecraft-pocket-edition {
    background: url(../img/background/minecraft-pocket-edition.jpg) center;
}

#ark-survival {
    /* Source - http://www.cgmagonline.com/2016/12/26/ark-survival-evolved-preview/ */
    background: url(../img/background/ark-survival-evolved.jpg) center;
}

#arma {
    background: url(../img/background/arma.jpg) center;
}

#classic-offensive {
    background: url(../img/background/classic-offensive.jpg) center;
}

#conan-exiles {
    background: url(../img/background/conan-exiles.jpg) center;
}

#global-offensive {
    background: url(../img/background/global-offensive.jpg) center;
}

#dont-starve {
    background: url(../img/background/dont-starve-together.jpg) center;
}

#factorio {
    background: url(../img/background/factorio.jpg) center;
}

#garrys-mod {
    background: url(../img/background/garrys-mod.jpg) center;
}

#hurtworld {
    background: url(../img/background/hurtworld.jpg) center;
}

#insurgency {
    background: url(../img/background/insurgency.jpg) center;
}

#rust {
    background: url(../img/background/rust.jpg) center;
}

#space-engineers {
    background: url(../img/background/space-engineers.jpg) center;
}

#starbound {
    background: url(../img/background/starbound.jpg) center;
}

#starmade {
    background: url(../img/background/starmade.jpg) center;
}

#team-fortress-2 {
    background: url(../img/background/team-fortress-2.jpg) center;
}

#terraria {
    background: url(../img/background/terraria.jpg) center;
}

#dedicated-servers {
    background: url(../img/background/datacentre.jpg) center;
}

@media (max-width: 992px) {
    #gaming-servers {
        background-size: auto;
    }

    #minecraft {
        background-size: auto;
    }
}

.page-title > .container {
    text-align: center;
    color: #fff;
    height: 300px;
}

.page-title h1 {
    font-weight: 700;
    margin-top: 100px;
    padding: 1rem;
    text-transform: uppercase;
}

.page-title h1 > i {
    font-weight: 400;
}

.page-title h3 {
    text-transform: uppercase;
}

.transparent-box {
    background: rgba(32,34,51,.9);
}

.lighter-transparent-box {
    background: rgba(32,34,51,.6);
}

/* Content */
.content {
    margin-top: 2rem;
}

.content-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 27px;
    color: #3b4856;
}

.content-title > i {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #01549b;
}

.paragraph {
    margin-top: 1.5rem;
}

.paragraph > .heading {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #3b4856;
}

.paragraph > .text {
    font-size: 16.5px;
}

/* Team Profiles */
.team-profiles {
    margin-top: 2rem;
}

.team-profile {
    text-align: center;
}

@media (max-width: 992px) {
    .team-profile {
        margin-top: 2rem;
    }

    .team-profiles {
        margin-top: 0;
    }
}

.team-picture {
    margin-bottom: 1rem;
}

.team-picture > img {
    border-radius: 50%;
    height: 140px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    color: #3b4856;
}

.team-name > i {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #01549b;
    text-transform: uppercase;
}

.team-description {
    font-size: 16.5px;
}

/* Footer */
.footer {
    background: #191a1e;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;

    /* Curved Top Footer

    border-top-left-radius: 60% 30%;
    border-top-right-radius: 60% 30%;

     */

}

.footer .heading {
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}

.footer-divide {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 30px;
    background: #02639c;
    height: 2px;
}

.footer .footer-logo {
    height: 125px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer-logo {
        display: none;
    }
}

.footer-right {
    text-align: right;
}

@media (max-width: 992px) {
    .footer-right {
        text-align: left;
    }
}

.footer-note {
    font-weight: 300;
    font-size: 16px;
    color: #777b7d;
}

.social-media-logo {
    height: 40px;
}

/* Sub-Footer */
.subfooter {
    background: #17181b;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 16px;
    color: #6c6f74;
}

/* List */
.arrow-list {
    list-style-image: url('../img/arrow-list.png');
    margin-top: 10px;
}

.arrow-list > li {
    margin-top: 5px;
}

.footer-list {
    list-style: none;
    padding-left: 0;
    font-weight: 300;
    font-size: 16px;
    color: #777b7d;
}

.footer-list > li > a {
    text-decoration: none;
    color: #777b7d;
}

.footer-list > li > a:hover {
    color: #a1a5a7;
}

/* Button */
.button {
    border-radius: 4px;
    padding: 5px 16px;
    font-weight: 500;
    color: #fff!important;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer!important;
    display: inline-block;
}

.button > i {
    display: inline;
}

.slim-button {
    text-shadow: 0 1px 1px rgba(3,74,127,.58);
    border: none;
    text-decoration: none;
    background: #212D4F;
}

.slim-button:hover {
    background: #025aa5;
}

.blue-button {
    text-shadow: 0 1px 1px rgba(3,74,127,.58);
    border: 1px solid #00529f;
    border-bottom: 1px solid #00488a;
    box-shadow: 0 1px 2px 0 rgba(1,2,2,.12), inset 0 -1px 2px 0 rgba(0,0,0,.15);
    background-image: -webkit-linear-gradient(bottom, #0b6cc5 0%, #30a9ff 96.51%, #76bfff 97.75%, #76bfff 100%);
    text-decoration: none;
}

.blue-button:hover {
    background-image: -webkit-linear-gradient(bottom, #0e75d4 0%, #0e75d4 0.49%, #4bb4fe 96.51%, #86c6fe 97.75%,
    #86c6fe 100%);
    text-decoration: none;
}

.orange-button {
    background-image: -webkit-linear-gradient(bottom, #cf4702 0%, #ff8235 97.51%, #ffa872 99.24%, #ffa872 100%);
    border: 1px solid #be4405;
    border-bottom: 1px solid #8a3102;
    text-shadow: 0 1px 1px rgba(1,2,2,.3);
    box-shadow: 0 1px 2px 0 rgba(1,2,2,.12), inset 0 -1px 2px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(1,2,2,.12), inset 0 -1px 2px 0 rgba(0,0,0,.15);
}

.orange-button:hover {
    background-image: -webkit-linear-gradient(bottom, #e64f02 0%, #fe8d47 97.51%, #ffae7c 99.24%, #ffae7c 100%);
    text-decoration: none;
}

.red-button {
    background: #f16161;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f16161), color-stop(2%,#f16161), color- stop(3%,#ea1515), color-stop(100%,#aa0101));
    background: -webkit-linear-gradient(top, #f16161 2%,#f16161 2%,#ea1515 3%,#aa0101 100%);
    border: 1px solid #be4405;
    border-bottom: 1px solid #8a3102;
    text-shadow: 0 1px 1px rgba(1,2,2,.3);
    box-shadow: 0 1px 2px 0 rgba(1,2,2,.12), inset 0 -1px 2px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(1,2,2,.12), inset 0 -1px 2px 0 rgba(0,0,0,.15);
}

.red-button:hover {
    background: #f16161;
    background: -moz-linear-gradient(top, #f16161 2%, #f16161 2%, #f41616 3%, #aa0101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f16161), color-stop(2%,#f16161), color-stop(3%,#f41616), color-stop(100%,#aa0101));
    text-decoration: none;
}

.blue-button:active, .orange-button:active, .red-button:active, .blue-button:visited, .orange-button:visited, .red-button:visited,
.blue-button:link, .orange-button:link, .red-button:link {
    text-decoration: none;
}

/* Call to Action */
.call-to-action {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: 1px solid #ccd0d5;
    background: #f2f5f9;
    box-shadow: inset 0 0 3px rgba(1,2,2,.1);
    border-radius: 0.5rem;

    font-size: 1rem;
}

.call-to-action b {
    font-weight: 700;
}

.call-to-action-text {
    display: inline;
}

.call-to-action-button {
    text-align: right;
    padding-top: 0.4rem;
}

@media (max-width: 992px) {
    .call-to-action-button {
        text-align: left;
    }
}

/* Other */
@media (max-width: 992px) {
    .line-break-992px {
        display: block;
    }
}

@media (max-width: 1200px) {
    .line-break-1200px {
        display: block;
    }
}

.right {
    float: right;
}

#text-extended, #text-minimised {
    display: none;
}

/* Game Servers */
.game-server-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: 1px solid #ccd0d5;
    border-radius: 0.5rem;
    background: #f2f5f9;
    box-shadow: inset 0 0 3px rgba(1,2,2,.1);

    font-weight: 600;
    font-size: 0.9rem;
}


.game-server-item:hover .game-server-title {
    color: #0C63B2;
}

.game-server-pricing {
    display: inline;
    font-weight: 500;
    font-size: 0.8rem;
    color: #000;
    opacity: 0.7;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.game-server-pricing > i {
    font-weight: 600;
    color: #7A1D1D;
    font-size: 1rem;
    font-style: normal;
}

.game-server-info {
    text-align: right;
}

@media (max-width: 768px) {
    .game-server-info {
        text-align: left;
    }
}

.game-server-title {
    padding: 0.35rem 1rem;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .game-server-title {
        padding: 1rem 1rem;
    }
}

@media (max-width: 768px) {
    .game-server-title {
        padding: 0.5rem 16px;
    }
}

.game-server-list {
    margin-bottom: 2rem;
}

.game-server-pop-list a {
    text-decoration: none;
    color: #798995;
}

.game-server-pop-item {
    border-radius: 0.5rem;
    overflow: auto;
    border: 0 solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: hidden;

    background: #f2f5f9;
    box-shadow: inset 0 0 3px rgba(1,2,2,.1);
}

.game-server-picture img {
    width: 100%;
}

.game-server-pop-title {
    text-align: center;
    text-transform: uppercase;
    padding: 0.3rem;
    font-weight: 500;
}

.game-server-pop-item:hover .game-server-pop-title {
    color: #0C63B2;
}

.game-server-pop-item:hover .game-server-picture img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.game-server-pop-info {
    border-radius: 0.5rem;
    overflow: auto;
    border: 0 solid;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    background: #f2f5f9;
    box-shadow: inset 0 0 3px rgba(1,2,2,.1);
    text-align: center;

    padding: 1rem;
}

.game-server-pop-info p {
    margin-top: 0.4rem;
    display: inline;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-right: 0.5rem;
    color: #5A5493;
    opacity: 2;
}

.game-server-item-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3.5rem;
    border: 1px solid #ccd0d5;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 3px rgba(1,2,2,.1);
    background-size: cover;
}

#ark-survival-logo {
    background: url(../img/game-server-logos/ark-survival-evolved.png) no-repeat center;
}

#arma-3-logo {
    background: url(../img/game-server-logos/arma-3-logo.png) no-repeat center;
}

#classic-offensive-logo {
    background: url(../img/game-server-logos/classic-offensive.png) no-repeat center;
}

#conan-exiles-logo {
    background: url(../img/game-server-logos/conan-exiles-logo.png) no-repeat;
}

#global-offensive-logo {
    background: url(../img/game-server-logos/global-offensive-logo.png) no-repeat center;
}

#dont-starve-logo {
    background: url(../img/game-server-logos/dont-starve-logo.png) no-repeat center;
}

#factorio-logo {
    background: url(../img/game-server-logos/factorio-logo.png) no-repeat center;
}

#garrys-mod-logo {
    background: url(../img/game-server-logos/garrys-mod-logo.png) no-repeat;
}

#hurtworld-logo {
    background: url(../img/game-server-logos/hurtworld-logo.png) no-repeat center;
}

#insurgency-logo {
    background: url(../img/game-server-logos/insurgency-logo.png) no-repeat center;
}

#minecraft-logo {
    background: url(../img/game-server-logos/minecraft-logo.png) no-repeat center;
}

#minecraft-pocket-edition-logo {
    background: url(../img/game-server-logos/minecraft-pocket-edition-logo.png) no-repeat center;
}

#rust-logo {
    background: url(../img/game-server-logos/rust-logo.png) no-repeat bottom;
}

#space-engineers-logo {
    background: url(../img/game-server-logos/space-engineers-logo.png) no-repeat bottom;
}

#starbound-logo {
    background: url(../img/game-server-logos/starbound-logo.png) no-repeat center;
}

#starmade-logo {
    background: url(../img/game-server-logos/starmade-logo.png) no-repeat center;
}

#team-fortress-2-logo {
    background: url(../img/game-server-logos/team-fortress-2-logo.png) no-repeat top;
}

#terraria-logo {
    background: url(../img/game-server-logos/terraria-logo.png) no-repeat top;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .game-server-item-logo {
        height: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .game-server-item-logo {
        height: 5rem;
    }
}

/* Currency Disclaimer */
.currency-disclaimer {
    text-align: right;
    font-weight: 600;
    font-size: 0.8rem;
    color: #000;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.disclaimer-text {
    display: inline-block;
    opacity: 0.5;
    position: relative;
    top: 1px;
}

.currency-disclaimer img {
    width: 23px;
}

/* Features */
.feature-item {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.features-title {
    font-weight: 600;
    font-size: 0.9rem;
    color: #0C63B2;
    text-transform: uppercase;
}

.features-description {
    font-size: 1rem;
}

.features-image {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #24244C;
}

/* Plans / Tiers */

#standard-plan-1 {
    background: url(../img/plan-images/standard/tier1.jpg);
}

#standard-plan-2 {
    background: url(../img/plan-images/standard/tier2.jpg);
}

#standard-plan-3 {
    background: url(../img/plan-images/standard/tier3.jpg);
}

#standard-plan-4 {
    background: url(../img/plan-images/standard/tier4.jpg);
}

#standard-plan-5 {
    background: url(../img/plan-images/standard/tier5.jpg);
}

#standard-plan-6 {
    background: url(../img/plan-images/standard/tier6.jpg);
}

#standard-plan-7 {
    background: url(../img/plan-images/standard/tier7.jpg);
}

#standard-plan-8 {
    background: url(../img/plan-images/standard/tier8.jpg);
}

#standard-plan-9 {
    background: url(../img/plan-images/standard/tier9.jpg);
}

.plan-name {
    text-align: center;
    height: 3.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #122b40;
    opacity: 0.9;
    padding-top: 0.8rem;
    text-transform: uppercase;
}

.plan {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #F7F7F7;
    overflow: hidden;
    border-radius: 2px;
}

.plan-details {
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.plan-details h3 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #0C63B2;
    opacity: 0.7;
}

.plan-details p {
    font-size: 1rem;
}

.plan-details .button {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0.3rem;
}

@media (max-width: 768px) {
    .plan-details .button {
        width: 100%;
        height: 2.5rem;
    }

    .plan-details {
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .plan-details .button {
        font-size: 0.65rem;
        margin-top: 0.4rem;
    }
}

.plan:hover #standard-plan-1, .plan:hover #standard-plan-2, .plan:hover #standard-plan-3, .plan:hover #standard-plan-4,
.plan:hover #standard-plan-5, .plan:hover #standard-plan-6, .plan:hover #standard-plan-7, .plan:hover #standard-plan-8,
.plan:hover #standard-plan-9 {
    background-position: 0 -10rem;
}

/* Outline Box */
.outline-list-box {
    z-index: 1;
    border: 1px solid #0C63B2;
    border-radius: 2px;
    padding-left: 1.5rem;
    text-align: center;
    overflow: auto;
    margin-top: 2rem;
}

.outline-list-box .container {
    padding-right: 0;
    width: 100%;
}

.outline-list-box > div ul:before, .outline-list-box > div ul:after {
    content: " ";
    display: table;
    visibility: hidden;
}

.outline-list-box > div ul {
    text-align: left;
    padding-left: 0;
}

.outline-list-box > div ul li {
    width: 25%;
    float: left;
    text-align: left;
    background: url(../img/arrow-list.png) left center no-repeat;
    padding: 0.5rem 0 0.5rem 1rem;
    opacity: 0.8;
    list-style: none;
}

/* Server Table */

.server-info {
    width: 100%;
    margin-top: 1rem;
    overflow-x: auto;
}

.server-info thead {
    background: #4dabcf;
    background: -moz-linear-gradient(top, #4dabcf 1%, #0086b9 2%, #005e97 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4dabcf), color-stop(2%,#0086b9), color- stop(100%,#005e97));
    background: -webkit-linear-gradient(top, #4dabcf 1%,#0086b9 2%,#005e97 100%);
    background: -o-linear-gradient(top, #4dabcf 1%,#0086b9 2%,#005e97 100%);
    background: -ms-linear-gradient(top, #4dabcf 1%,#0086b9 2%,#005e97 100%);
    background: linear-gradient(to bottom, #4dabcf 1%,#0086b9 2%,#005e97 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dabcf', endColorstr='#005e97',GradientType=0 );
}

.server-info thead th:first-child {
    width: 320px;
}

.server-info thead th:last-child {
    border-right: 1px solid #4dabcf;
}

.server-info thead th {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    width: 150px;
}

.server-info tbody td:first-child {
    border-left: 1px solid #ccced3;
}

.server-info tbody td:last-child {
    border-right: 1px solid #ccced3;
}

.server-info tbody td {
    padding-left: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #ccced3;
    padding-bottom: 1rem;
    background: #f2f5f9;
}

.server-info tbody td p {
    margin: 0;
}

.server-info tbody td p b {
    color: #01549b;
}

.server-info-price {
    color: #01549b;
    font-size: 0.7rem;
}

.server-info .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.server-info .red-button {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}


